label {
    display: inline-block;
    text-align: left;
    font-weight: bold;
}
input {
    padding: 5px 2px;
    margin: 10px 5px;
}

h2 {
    background-color: rgba(78, 13, 102,0.9);
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    height: 40px;
    margin: 10px 0px 0px 0px;
    padding: 15px 0px 0px 15px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.5);
}

.error {
    float: left;
    color: red;
    font-weight: bold;
    font-size: 15pt;
    margin: 25px 0px 0px 200px;
}